body {background-color:sandybrown;}
header, footer, section, nav {border: black 1px solid;}

header {background-image: url("https://i.ibb.co/Bg1WnkM/eisley23esize.png");
  background-color: tan;

color:rgb(209, 245, 100);
text-align: center;}

li {display: inline;
padding: 10px;
margin: 0px 20px;}

#section1 img {
  float: left; 
  margin: 5px;
}

#section2 img {
  float: right; 
  margin: 5px;
}

center {
  text-align: center;}


